<!DOCTYPE html>
<html style="background-color: #1d2021;"> <!-- Hopefully reduces flashes of white-->

<head>
	<title>
		{{ if .Title }}
		{{ .Title }} -
		{{ end }}
		{{ .Site.Title }}
	</title>

	<!-- Open graph impls -->
	<!-- <meta property="og:" content="" /> -->
	<meta property="og:title" content="{{ .Title }}" />
	<meta property="og:description"
		content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.Description }} {{ end }}" />
	<meta property="og:url" content="{{ .Permalink }}" />
	{{- block "og-data" . }}{{- end }}
</head>

{{ partial "common-style.html" . }}

<body>
	<div class="wrapper">
		<header>
			{{- partial "header.html" . -}}
		</header>
		<main>
			{{- block "main" . }}{{- end }}
		</main>
		<footer>
			{{- partial "footer.html" . -}}
		</footer>
	</div>
</body>

</html>