{{ define "main" }}
<content>
    <ul class="list-posts">
        {{ range .Pages }}
        <a href="{{ .Permalink }}" {{if eq .Content ""}} style="pointer-events: none;" {{ end }}>
            <li class="list-post">
                <h2 style="margin: 0;">{{ .Title }}</h2>
                {{ if not (eq .Description .Site.Params.Description) }}
                <p style="margin: 4px; text-align: justify;">{{ .Description }}</p>
                {{ end }}
                <i><time datetime='{{ .Date.Format "2006-01-02" }}'>
                        {{ .Date | time.Format ":date_medium" }}
                        {{ if .Draft}}
                        * DRAFT
                        {{end}}
                    </time></i>
            </li>
        </a>
        {{ else }}
        <li class="list-post">No posts found. Please come back later</li>
        {{ end }}
    </ul>
</content>

<style>
    .list-posts {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    .list-posts>a {
        color: var(--fg0) !important;
        text-decoration: none;
    }

    .list-posts>a:hover {
        color: #8f826b !important;
    }

    .list-post {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }
    .list-post>i>time {
        color: gray;
    }
</style>
{{ end }}
{{ define "og-data" }}
<meta property="og:type" content="website" />
{{ end }}