<style>
	@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

	:root {
		--bg_dim: #131617;
		--bg0: #1d2021;
		--fg0: #d4be98;

		--accent: #89b482;
		--accent_dim: #8ba38d;
	}

	html,
	body {
		height: 100%;
		margin: 0;
	}

	a {
		color: var(--accent);
	}

	a:visited {
		color: var(--accent_dim);
	}

	.forever:visited {
		color: var(--accent);
	}

	body {
		width: 800px;
		margin: auto;
		background: var(--bg0);
		color: var(--fg0);
		overflow-wrap: break-word;
		font-family: "Iosevka Web", "Fira Code", monospace;
		line-height: 1.65;
	}
	
	@media print {
		body {
			width: 630px;
		}
		
		img {
			max-width: 630px !important;
		}
		
		header, footer {
			display: none;
		}
		
		p, .imgfig {
	 		break-inside: avoid;
		}
	}
	

	.fira {
		font-family: "Fira Code", monospace;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 3px;
	}

	.hanchor {
		visibility: hidden;
	}

	h1:hover a,
	h2:hover a,
	h3:hover a,
	h4:hover a,
	h5:hover a,
	h6:hover a {
		visibility: visible
	}

	p, ul {
		margin-top: 0;
	}

	img {
		max-width: 800px;
	}

	.imgfig {
		margin: 10px auto;
		border: 1px solid var(--fg0);
		width: fit-content;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.imgcaption {
		font-style: italic;
		margin: 5px auto;
	}

	hr {
		border-style: dashed;
	}

	.wrapper {
		min-height: 100%;
		display: flex;
		flex-direction: column;
	}

	main {
		flex: 1;
	}

	#footer {
		text-align: center;
	}

	.ticker {
		background-color: var(--bg_dim);
		padding: 2px;
		margin-top: 5px;
		height: 20px;

		overflow: hidden;
	}
	.ticker:hover>.tickerelement, .tickerelement:hover {
		animation-play-state: paused !important;
	}

	@keyframes tickeranim {
		0% {
			transform: translateX(620px)
		}

		to {
			transform: translateX(-100%)
		}
	}

	.tickerelement {
		font-family: 'Fira code', monospace;
		display: block;
		min-width: 100%;
		position: relative;
		white-space: nowrap;
		width: fit-content;
	}

	@font-face {
		font-family: Iosevka Web;
		font-display: swap;
		font-style: normal;
		src: url(/font/Iosevka-Regular.woff2) format("woff2");
	}

	@font-face {
		font-family: Iosevka Web;
		font-display: swap;
		font-style: italic;
		src: url(/font/Iosevka-Italic.woff2) format("woff2");
	}

	@font-face {
		font-family: Iosevka Web;
		font-display: swap;
		font-weight: 700;
		src: url(/font/Iosevka-Bold.woff2) format("woff2");
	}
</style>