<div>
	{{ $noticePermalink := replace .RelPermalink (printf "/%s" .Site.LanguageCode) "" }}
	<div style="text-align: center;">
		<span style="font-size: smaller;">{{ printf .Site.Params.Notice $noticePermalink | safeHTML }}</span>
	</div>
	<div style="display: flex; align-items: baseline;">
		<h1 style="margin-bottom: 0;flex: 1; font-style: italic;">{{ .Site.Title }}</h1>
		<nav>
			<!-- <a href="{{ "" | relURL }}" class="forever">Home</a> -->
			{{ range .Site.Menus.main }}
			<a href="{{ .PageRef }}" class="forever">{{ .Name }}</a>
			{{ end }}
		</nav>
	</div>
	<div class="ticker">
		<span id="tickerelement">If you see this the ticker is loading or broken :3</span>
	</div>
	<script src="/ticker.js"></script>
	<hr style="margin-top: 0;">
	{{- partial "breadcrumbs.html" . -}}
</div>